{
  "Version": "2019-10-30",
  "StartAction": "end-task",
  "Metadata": {
    "entryPointPosition": { "x": 20, "y": 20 },
    "snapToGrid": false,
    "name": "CallbackTaskFlow",
    "description": "Task for claimed callbacks",
    "type": "contactFlow",
    "status": "published"
  },
  "Actions": [
    {
      "Identifier": "end-task",
      "Type": "EndFlowExecution",
      "Parameters": {},
      "Transitions": {}
    }
  ]
}
